/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    margin-right: 10px;
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  #home-container {
    margin: 20px;
  }
  
  #poster img {
    max-width: 100%;
  }
  
  #categories {
    margin-bottom: 10px;
  }
  
  #title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #date-time {
    margin-bottom: 10px;
  }
   */